export AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=stbitinterview;AccountKey=yW8Vhe0KqbgIi1N8Tq/Hgxfp6tMmke65BWi9PfDsJaBE3JQEoIaU2awIKiups6GZ+U9tvcfzNgpq+AStpcfHIQ==;EndpointSuffix=core.windows.net"
export AZURE_STORAGE_ACCESS_KEY="yW8Vhe0KqbgIi1N8Tq/Hgxfp6tMmke65BWi9PfDsJaBE3JQEoIaU2awIKiups6GZ+U9tvcfzNgpq+AStpcfHIQ="
export ACTIVE_DIRECTORY_APPLICATION_ID="2c4203d2-e2de-4a11-9d62-d6914a463550"
export ACTIVE_DIRECTORY_APPLICATION_SECRET="pgl8Q~EEIhfb~1Byv8rs95hwAtlBD2OEV4oOcaG6"
export ACTIVE_DIRECTORY_TENANT_ID="62734cde-549c-421d-8475-d2b9a037b254"
export AZURE_STORAGE_ACCOUNT_NAME="stbitinterview"